// import font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

// font for whole website
$main-font: "Poppins", sans-serif;

// global size for font
$global-size: 18px;
$logo-size: 32px;

// types weight of font
$bold-weight: 700;
$normal-weight: 500;
