@import "fonts";
@import "colors";
@import "breakpoints";

.imgbox {
    width: 50%;

    .score {
        font-size: $logo-size - 4px;
        text-align: center;
    }

    .spaceman {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: $extraSmall) {
    .imgbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .score {
            font-size: 24px;
            text-align: center;
        }

        .spaceman {
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $smallMin) and (max-width: $smallMax) {
    .imgbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .score {
            font-size: 24px;
            text-align: center;
        }

        .spaceman {
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $mediumMin) and (max-width: $mediumMax) {
    .imgbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .score {
            font-size: 24px;
            text-align: center;
        }

        .spaceman {
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: $largeMin) and (max-width: $largeMax) {
    .imgbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .score {
            font-size: 24px;
            text-align: center;
        }

        .spaceman {
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $extraLarge) and (max-width: 1440px) {
    .imgbox {
        width: 40%;

        .score {
            font-size: 20px;
            text-align: center;
        }

        .spaceman {
            img {
                margin-top: 20px;
                width: 125%;
            }
        }
    }
}
